<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Libris</title>

  <!-- Bootstrap e CSS compartilhado -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Estilos globais (se quiser separar em um arquivo externo) -->
 
</head>
<body>

 <% if (!(typeof isLoginPage !== 'undefined' && isLoginPage) && !(typeof isRegisterPage !== 'undefined' && isRegisterPage)) { %>
  <%- include('partials/navbar') %>
<% } %>


  <!-- Aqui entra o conteúdo da página -->
  <main>
    <%- body %>
  </main>

  <% if (typeof isRegisterPage === 'undefined' || !isRegisterPage) { %>
    
      <small>&copy; 2025 Libris.</small>
    
  <% } %>

</body>
</html>
