<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Libris</title>
  <link rel="icon" type="image/png" href="/img/logoTitle.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #151F55, #6e5858);
    color: #cebaba;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  main {
    padding: 40px;
    min-height: 80vh;
  }

  footer {
    text-align: center;
    color: #aaa;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, p {
    color: #cebaba;
  }

  .container {
    background-color: #283372;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    max-width: 700px;
  }

  a.btn {
    background-color: #AD8D8D;
    color: #000;
    border: none;
  }

  a.btn:hover {
    background-color: #283372;
    color: #AD8D8D;
  }
    .footer-bar {
    background-color: #283372; 
    color: #cebaba;
    text-align: center;
    padding: 40px;
    font-size: 0.8rem; 
    font-weight: 400;
  }

</style>

</head>
<body>


  <% if (!(typeof isLoginPage !== 'undefined' && isLoginPage) && !(typeof isRegisterPage !== 'undefined' && isRegisterPage)) { %>
    <%- include('partials/navbar') %>
  <% } %>

  <main>
    <%- body %>
  </main>

   
   <% if (
      (typeof isRegisterPage === 'undefined' || !isRegisterPage) &&
      (typeof isLoginPage === 'undefined' || !isLoginPage)
    ) { %>
    <footer class="footer-bar">
      <small>&copy; 2025 Libris</small>
    </footer>
  <% } %>

</body>
</html>
