<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Libris | Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #cebaba;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
 background: linear-gradient(135deg, #151F55, #AD8D8D);
}
    .login-container {
      background-color: #283372;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0,0,0,0.7);
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

    .form-control {
      background-color: #1a1a1a;
      color: #fff;
      border: 1px solid #555;
    }

    .form-control::placeholder {
      color: #aaa;
    }

    .btn-login {
      background-color: #AD8D8D;
      border: none;
    }

    .btn-login:hover {
      background-color:#283372;
      color:#AD8D8D ;
    }

    .logo-img {
      max-width: 180px;
      margin-bottom: 15px;
      display: block;
      margin-left: 0;
      margin-right: auto;
    }

 .logo-title {
  font-size: 1.4rem;       
  font-weight:bold;        
  margin-bottom: 25px;
  color: #cebaba;
  letter-spacing: 1.5px;    
  text-align: left;
  margin-left: 0;
}

  </style>
</head>
<body>
  <div class="login-container">
   
    <img src="/img/logoescura.png" alt="Logo Libris" class="logo-img" />

    <div class="logo-title">Bem-Vindo!</div>
    <% if (error) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

   <form action="/login" method="POST">
  <div class="form-group text-left">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Digite seu e-mail" required>
  </div>
  <div class="form-group text-left">
    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" class="form-control" placeholder="Digite sua senha" required>
  </div>
      <button type="submit" class="btn btn-login btn-block">Entrar</button>
      <p class="mt-3 text-muted">
  Nao possui conta? <a href="/register" class="text-light font-weight-bold">Cadastre-se</a>
</p>

    </form>
  </div>
</body>
</html>

