<% layout('layout') %>

<div class="container mt-5 text-center">
  <h2>Consultar Material</h2>
  <a href="/material/pesquisar" class="btn btn-primary m-3">Pesquisar Acervo</a>
  <a href="/material/registrar" class="btn btn-success m-3">Registrar Livro</a>
</div>
